/* init   */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #e5e7eb;
}

ul {
	list-style-type: none;
}

/* layout of sections */

body {
	font-family: Roboto sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	/* Basic Properties */
	background-color: #1f2937;
	padding: 30px;
	width: 100vw;
	color: #f9faf8;
	font-size: 18px;
	font-weight: bold;
	/* Layout */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 16px;
}