/* Init Declerations  */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #e5e7eb;
}

ul {
	list-style-type: none;
}

/* Layout Declerations */

body {
	font-family: Roboto sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	/* Basic Properties */
	background-color: #1f2937;
	padding: 30px;
	width: 100vw;
	color: #f9faf8;
	font-size: 18px;
	font-weight: bold;
	/* Layout */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	font-size: 16px;
	/* Layout */
	display: flex;
	justify-content: center;
	align-items: flex-start;s
	gap: 20px;
}

main {
	/* Basic Properties */
	background-color: #1f2937;
	width: 100vw;
	min-height: 300px;
	color: white;
	padding: 60px;
	/* Layout */
	display: flex;
	justify-content: center;
	gap: 30px;
}

.main-text {
	display: flex;
	flex-direction: column;
}

/* Specific Declerations */

.main-text h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.main-text p {
	color: #e5e7eb;
	font-size: 18px;
}

#main-img {
	width: 600px;
	height: 300px;
	background-color: gray;
}

#sign-up-button {
	flex-grow: 1;
}